<div class="pizza-system">
    <div class="row">
      <h1>{{ titleSystem }}</h1>
    </div>
  
    <form [formGroup]="pizzaForm">
      <div class="row">
        <h2>{{ titleSize }}</h2>
      </div>
      <div class="row">
        <div class="pizza-size-selector-container">
          <div class="pizza-size-selector">
            <ng-container *ngFor="let size of sizes">
              <input type="radio" id="{{ size.code }}" formControlName="size" value="{{ size.code }}" />
              <label for="{{ size.code }}">{{ size.description }} <br/> {{ size.price | currency: 'CAD' }}</label>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="row">
        <h2>{{ titleTopping}}</h2>
      </div>
      <div class="row">
        <div class="pizza-topping-selector-container">
          <div class="pizza-topping-selector">
            <ng-container *ngFor="let topping of toppings">
              <input type="checkbox" id="{{ topping.code }}" (change)="onToppingChange($event, topping)" />
              <label for="{{ topping.code }}" [ngClass]="{'veg': topping.toppingType.code === 'veg', 'non-veg': topping.toppingType.code === 'non-veg'}">
                {{ topping.description }} <br/> {{ topping.price | currency: 'CAD' }}
              </label>
            </ng-container>
          </div>
        </div>
      </div>
      
      <div class="row">
        <button type="button" (click)="addPizzaToCart()">Add Pizza</button>
      </div>
    </form>
  </div>
  